body {
    background-color: #59C4BE;
    color:white;
}
.illustration { width:110%;

}
.flags {width:50px;}

.blocvide {width:50px;}

.bnsvg{
  position: absolute;
  width: 3.5%;  
}
.fem{
  left: 60%;
}

.mal{
  left: 76.5%;
}

.btn-secondary{
  background-color:#314D62;
}

.btn-primary {
  background-color: #314D62 !important;
  border-color: #314D62 !important;
  outline-color: #5b8cb1 !important
}
.btn-primary:hover {
  background-color: #5b8cb1 !important;
  border-color: #5b8cb1 !important ;
}

.btn-primary.focus, .btn-primary:focus {
  box-shadow:none;
}

.card {
  background-color:rgb(255,255,255,0.3);
}

@keyframes rectFade{
  from {
    width: 1%;
    }
    to {
    width:5%;
    opacity: 1;
    }
  }

  /*.fem, .mal {
    opacity: 0;
    animation: rectFade 1s cubic-bezier(0.645, 
    0.045, 0.355, 1) forwards;
    }*/

  .test {position: absolute;
    top: 68%;
    left:60%;
    width: 3.5%;   
  }

  .test2 {position: absolute;
    top: 66%;
    left:60%;
    width: 3.5%;   
  }

  .test3 {position: absolute;
    top: 64%;
    left:60%;
    width: 3.5%;   
  }
 
  .testhomme {position: absolute;
    top: 68%;
    left:76.5%;
    width: 3.5%;   
  }

  .test2homme {position: absolute;
    top: 66%;
    left:76.5%;
    width: 3.5%;   
  }

  .test3homme {position: absolute;
    top: 64%;
    left:76.5%;
    width: 3.5%;   
  }