h3 {text-align:center;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 2em;
}
body {
    background-color: #59C4BE;
    color:white;
}

.flags {width:50px;}

.btn-secondary{
  background-color:#314D62;
}